CompileFlags:
  Add:
    [-xcuda]
    # - --cuda-gpu-arch=sm_89
    # change this if you need to.
  Remove:
    [
      -forward-unknown-to-host-compiler,
      --generate-code*
    ]
    # clangd doesn't like nvcc flags.
