project_proposal.*
!project_proposal.tex
!project_proposal.pdf

.DS_Store

*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz

# EXTRA
# .clangd
# compile_commands.json
CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile
.cache
debug/compile_commands.json
release/compile_commands.json
*.so

build
build_analyze
crt
lib*

# js shell scripts
rebuild.sh